{% comment %} {% load blog_tags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
 
    <nav class="navbar bg-secondary-subtle">
      <div class="container-fluid">
        <a href="{% url 'blog:post_list' %}" class="navbar-brand">Home</a>
        <form class="d-flex" role="search">
          
          <button class="btn btn-outline-success" type="submit"><a href="{% url 'blog:post_search'%} "class="link-underline-info">Search</a></button>
        </form>
      </div>
    </nav>

  
    <div class="row">
      <div class="col-8">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="col-4">
        <div id="sidebar">
          <h2>Kennedy Akogo</h2>
          <p>This is my blog. I have written {% total_posts%} posts so far</p>
      
          <h3> Lastest Posts</h3>
          {% show_latest_posts 1 %}
      
          
          <h3> Most Commented posts</h3>
          {% get_most_commented_posts as most_commented_posts %}
      
          <ul>
            {% for post in most_commented_posts%}
            <li>
              <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </li>
      
            {% endfor %}
          </ul>
          <p> 
            <a href ="{% url 'blog:post_feed'%}"> Subscribe to my RSS feed </a>
          </p>
        </div>
    
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html> {% endcomment %}

{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle">
      <div class="container-fluid">
        <a href="{% url 'blog:post_list' %}" class="navbar-brand">Home</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="d-flex ms-auto my-2 my-lg-0" role="search">
            <button class="btn btn-outline-success" type="submit">
              <a href="{% url 'blog:post_search'%}" class="link-underline-info">Search</a>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div id="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="col-lg-4">
          <div id="sidebar">
            <h2>Kennedy Akogo</h2>
            <p>This is my blog. I have written {% total_posts%} posts so far</p>
        
            <h3>Latest Posts</h3>
            {% show_latest_posts 1 %}
        
            <h3>Most Commented Posts</h3>
            {% get_most_commented_posts as most_commented_posts %}
        
            <ul>
              {% for post in most_commented_posts %}
                <li>
                  <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                </li>
              {% endfor %}
            </ul>
            
            <p> 
              <a href="{% url 'blog:post_feed'%}">Subscribe to my RSS feed</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>

